/problema1/Problema01/nbproject/private/
/problema1/Problema.01/nbproject/private/
/problema1/Problema.01/build/
/problema2/Problema.02/nbproject/private/
/problema2/Problema02/nbproject/private/
/problema2/Problema02/build/
/problema3/Problema.03/nbproject/private/
/problema3/Problema.03/build/
/problema4/Problema.04/nbproject/private/
/problema4/Problema.04/build/
